{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
<section class="main-section paddind">
  <div class="form-group">
    <div class="col-sm-2"></div>
      <div class="col-sm-8">
        {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <h1>Login</h1>

        {% if next %}
          <p>Please login to see this page.</p>
        {% endif %}
        <hr>
        <form method="post" action="{% url 'login' %}" role="form" class="form" >
          {% csrf_token %}
          {{ form|crispy }}
          <hr>
          <input type="submit" class="input-btn" value="Log In!" />

          <input type="hidden" name="next" value="{{ next }}" />
        </form>
      </div>
    <div class="col-sm-2"></div>
  </div>

</section>
{% endblock %}
